.hero-text {
    color: #eeeeee;
}

.btn-default{
    background-color: #a181d6 !important;
}
.hero {
    background-image: url('/img/architecture.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.footer {
    background-color: #622bbb;
}

.default-color {
    background-color: #622bbb !important
}

.btn-primary {
    background-color: #a181d6 !important
}

.jumbotron {
    border-radius: 0px !important;
}

.md-form input[type=text]::placeholder {
    color: #eeeeee;
}

.md-form input[type=text] {
    color: #eeeeee;
}

.md-form input[type=text]:focus:not([readonly]) {
    box-shadow: 0 1px 0 0 #622bbb;
    border-bottom: 1px solid #622bbb;
}

.lfj {
    width: 68%;
}