.hero-text {
    color: #eeeeee;
}

.btn-default{
    background-color: #a181d6 !important;
}
.hero {
    background-image: url('../src/img/architecture.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.footer {
    background-color: #622bbb;
}

.default-color {
    background-color: #622bbb !important
}

.jumbotron {
    border-radius: 0px !important;
}
/* 
.md-form input[type=text], .md-form input[type=password], .md-form input[type=email], .md-form input[type=url], .md-form input[type=time], .md-form input[type=date], .md-form input[type=datetime-local], .md-form input[type=tel], .md-form input[type=number], .md-form input[type=search-md], .md-form input[type=search], .md-form textarea.md-textarea {
    color: #eeeeee !important;
} */

.md-form input[type=text]::placeholder {
    color: #eeeeee;
}

.md-form input[type=text] {
    color: #eeeeee;
}

.md-form input[type=text]:focus:not([readonly]) {
    box-shadow: 0 1px 0 0 #622bbb;
    border-bottom: 1px solid #622bbb;
}